.container {
    margin-left: 6em;
    margin-right: 3em;
}

header {
    display: flex;
    justify-content: space-between;
}

nav menu {
  list-style: none;
  display: flex;
}

menu li a{  
    text-decoration: none;
    margin: 0 0.5em;
}

